

        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
            <style>
                    .navi {
            display: flex;
            flex-direction: column;
            width: 100vw;
        }
.nav-link {
            color: brown;
            font-size: larger;
            font-weight: 25%;
        }
            </style>
        </head>
        <body>
            <div class="navi">
            <nav class="nav nav-pills flex-row">
                <a class="nav-link " href="/home" aria-current="page"
                    style="font-family: times new roman;font-size:20px;color: brown;"><b>JETWAY</b></a>
                <a class="nav-link" href="#">About us</a>
                <a class="nav-link " href="#">Services</a>
                <a class="nav-link " href="/signup" style="justify-content: flex-end;">SignUp</a>

            </nav>
        </div>
        </body>
        </html>